if [ -f /etc/NIXOS ]; then
  use nix
fi

if [ -f selene.toml ]; then
  LUAVERSION=$(lua -e 'print((_VERSION:lower():gsub("[ .]", "")))')
  if ! grep -q "$LUAVERSION" selene.toml; then
    echo "WARN: Selene configuration out of date. Run \`just selene\` to update."
  fi
fi
